<div class="container mt-5 text-center">
  <div class="p-4 bg-success text-white rounded shadow">
    <h1 class="fw-bold">Welcome to Urban Vista</h1>
    <p class="fs-5">SIMPLIFYING REAL ESTATE</p>
  </div>
</div>
