<header class="fixed-header">
  <div class="px-3 py-2 text-white border-bottom" style="background-color: #198754;">
    <div class="container d-flex flex-wrap align-items-center justify-content-between">
      <a href="/" class="d-flex align-items-center my-2 my-lg-0 text-white text-decoration-none">
        <!-- <i class="fas fa-building fa-2x me-2"></i> -->
        <img src="/logo.png" alt="Urban Vista Logo" class="me-2" style="height: 28px; width: auto;">
        <span class="fs-4">Urban Vista <%= current_user.present? ? ( current_user.role=="admin" ? "Admin" : "Agent" ) : "" %></span>
      </a>

      <div class="d-flex align-items-center">
        <% if current_user %>
          <ul class="nav me-3">
            <li>
              <a href="/" class="nav-link text-light">
                <i class="fas fa-home"></i>
                Home
              </a>
            </li>
            <li>
              <a href="/properties" class="nav-link text-white">
                <i class="fas fa-box"></i> 
                Properties
              </a>
            </li>
            <li>
              <a href="/customers" class="nav-link text-white">
                <i class="fas fa-users"></i> 
                Customers
              </a>
            </li>
            <% if current_user.role== "admin"%>
            <li>
              <a href="/agents" class="nav-link text-white">
                <i class="fas fa-user-tie"></i>
                Agents
              </a>
            </li>
            <% end %>
          </ul>
        <% end %>
        
        <div>
          <% if current_user %>
            
            <div>
              <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-success text-white" %>
            </div>
          <% else %>
           
            <%= link_to "Login", login_path, class: "btn btn-outline-light me-2" %>
            <%= link_to "Sign Up", signup_path, class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>